.vs/slnx.sqlite
.vs/ApiRefreshToken/FileContentIndex/760663e0-b7db-4c08-84f6-91d0dbb42df6.vsidx
.vs/ApiRefreshToken/FileContentIndex/87d39c54-aa0d-4497-85c3-b47e1801dd79.vsidx
.vs/ApiRefreshToken/v17/.wsuo
.vs/ApiRefreshToken/FileContentIndex/cb9eda5f-2ccc-429b-a916-ff9f590667ad.vsidx
*.vsidx
